Repository functionless/functionless, pull requests merged in 2022-04, with the labels that each got.

#36 feat: add ExpressStepFunction and StepFunction constructs
  .projen/deps.json
  .projen/tasks.json
  .projenrc.js
  .vscode/launch.json
  README.md
  package.json
  src/appsync.ts
  src/asl.ts
  src/aws.ts
  src/callable.ts
  src/compile.ts
  src/context.ts
  src/declaration.ts
  src/error.ts
  src/expression.ts
  src/function.ts
  src/index.ts
  src/node.ts
  src/statement.ts
  src/step-function.ts
  src/table.ts
  src/util.ts
  src/visit.ts
  src/vtl.ts
  test-app/cdk.json
  test-app/message-board.gql
  test-app/package.json
  test-app/src/app.ts
  test-app/src/message-board.ts
  test-app/src/people-db.ts
  test-app/yarn.lock
  test/node.test.ts
  test/reflect.test.ts
  test/step-function.test.ts
  test/table.test.ts
  test/util.ts
  test/vtl.test.ts
  tsconfig.dev.json
  tsconfig.json
  yarn.lock
Labels: step-functions

#39 feat: event bridge
  README.md
  src/assert.ts
  src/compile.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/index.ts
  src/event-bridge/event-pattern/numeric.ts
  src/event-bridge/event-pattern/pattern.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/index.ts
  src/event-bridge/rule.ts
  src/event-bridge/target-input.ts
  src/event-bridge/target.ts
  src/event-bridge/transform.ts
  src/event-bridge/types.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/function.ts
  src/index.ts
  src/step-function.ts
  src/table.ts
  test-app/cdk.context.json
  test-app/src/app.ts
  test-app/src/people-events.ts
  test/eventbus.test.ts
  test/eventpattern.test.ts
  test/eventtargets.test.ts
  test/reflect.test.ts
  test/util.ts
Labels: event-bridge

#100 feat(event-bridge, step-functions): step functions put event bridge events
  README.md
  src/compile.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/target.ts
  test-app/src/message-board.ts
  test/step-function.test.ts
Labels: step-functions, event-bridge

#102 feat: step functions event source, `when` refining, `when` and `map` narrowing
  README.md
  src/compile.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/rule.ts
  src/event-bridge/transform.ts
  src/step-function.ts
  test-app/src/message-board.ts
  test/eventbus.test.ts
  test/eventpattern.test.ts
  test/step-function.test.ts
  test/util.ts
Labels: step-functions, event-bridge
