Repository functionless/functionless, pull requests merged in 2022-07, with the labels that each got.

#315 feat(step-functions): major refactor - one to many expressions to states - reduce evaluation functions
  src/asl.ts
  src/aws.ts
  src/checker.ts
  src/error-code.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/synth.ts
  src/function.ts
  src/integration.ts
  src/step-function.ts
  src/util.ts
  src/validate.ts
  test/__snapshots__/serialize.test.ts.snap
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/runtime-util.ts
  test/step-function.localstack.test.ts
  test/step-function.test.ts
  test/test-files/step-function.ts
  test/validate.test.ts
  website/docs/concepts/event-bridge/limitations.md
Labels: step-functions

#329 feat(step-functions): refactor evalStmt to return a sub-state, remove node state cache
  src/asl.ts
  src/node.ts
  src/statement.ts
  src/step-function.ts
  src/visit.ts
  test/__snapshots__/serialize.test.ts.snap
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/runtime-util.ts
  test/step-function.localstack.test.ts
  test/step-function.test.ts
Labels: step-functions

#326 feat(step-functions): for in/of loop return, break, continue, assign
  src/asl.ts
  test/__snapshots__/serialize.test.ts.snap
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/step-function.localstack.test.ts
  test/step-function.test.ts
Labels: step-functions

#331 feat(step-functions): ternary, join, bug fixes
  src/api.ts
  src/appsync.ts
  src/asl.ts
  src/checker.ts
  src/compile.ts
  src/error-code.ts
  src/expression.ts
  src/function.ts
  src/integration.ts
  src/node.ts
  src/util.ts
  src/validate.ts
  src/vtl.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/step-function.localstack.test.ts
  test/step-function.test.ts
  test/test-files/api-gateway.ts
  test/test-files/appsync.ts
Labels: step-functions

#335 feat(step-functions): json parse and stringify
  src/asl.ts
  src/step-function.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/step-function.localstack.test.ts
  test/step-function.test.ts
Labels: step-functions

#336 feat(step-functions): support context object in sfn
  src/asl.ts
  src/step-function.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/runtime-util.ts
  test/step-function.localstack.test.ts
  test/step-function.test.ts
  website/docs/concepts/step-function/usage.md
Labels: step-functions

#332 feat(step-functions): for-loops and for-in/of ident initializer
  src/api.ts
  src/appsync.ts
  src/asl.ts
  src/assert.ts
  src/compile.ts
  src/declaration.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/guards.ts
  src/node.ts
  src/statement.ts
  src/visit.ts
  src/vtl.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/node.test.ts
  test/step-function.localstack.test.ts
  test/step-function.test.ts
Labels: step-functions

#347 feat: add missing AST nodes to FunctionlessAST for 1:1 parity with TS
  src/api.ts
  src/appsync.ts
  src/asl.ts
  src/aws.ts
  src/compile.ts
  src/declaration.ts
  src/error-code.ts
  src/error.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/target-input.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/function.ts
  src/guards.ts
  src/integration.ts
  src/node.ts
  src/statement.ts
  src/step-function.ts
  src/table.ts
  src/util.ts
  src/validate.ts
  src/visit.ts
  src/vtl.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/__snapshots__/vtl.test.ts.snap
  test/node.test.ts
  test/reflect.test.ts
  test/step-function.test.ts
  test/test-files/step-function.ts
  test/validate.test.ts
  website/docs/concepts/step-function/usage.md
Labels: compile

#363 feat(api-gateway,event-bridge): apigateway to event bus put events integration
  src/api.ts
  src/declaration.ts
  src/event-bridge/event-bus.ts
  src/validate.ts
  test/__snapshots__/api.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/api.test.ts
  test/test-files/api-gateway.ts
  website/docs/concepts/event-bridge/integrations.md
Labels: event-bridge, api-gateway

#346 feat: remove type information from FunctionlessAST
  src/error-code.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/target-input.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/validate.ts
  test/__snapshots__/validate.test.ts.snap
  test/eventpattern.test.ts
  test/eventtargets.test.ts
  test/test-files/event-bus.ts
Labels: event-bridge
