Repository functionless/functionless, pull requests merged in 2022-06, with the labels that each got.

#180 feat: provide link to documentation for compile time error codes
  .projen/tasks.json
  .projenrc.js
  .vscode/launch.json
  scripts/compile-error-code-page.js
  src/error-code.ts
  src/index.ts
  src/validate.ts
  test/__snapshots__/validate.test.ts.snap
  website/docs/error-codes.md
  website/docusaurus.config.js
  website/package.json
Labels: documentation, cli, language-service, error

#161 feat(event-bridge): schedule, whenAny, rename, when without scope, docs
  src/checker.ts
  src/compile.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/pattern.ts
  src/event-bridge/rule.ts
  src/event-bridge/target-input.ts
  src/event-bridge/target.ts
  src/event-bridge/transform.ts
  src/event-bridge/types.ts
  src/integration.ts
  src/step-function.ts
  test-app/src/app.ts
  test-app/src/func-test.ts
  test-app/src/message-board.ts
  test-app/src/people-events.ts
  test/eventbus.localstack.test.ts
  test/eventbus.test.ts
  test/eventpattern.test.ts
  test/eventtargets.test.ts
  test/function.localstack.test.ts
  test/step-function.test.ts
  test/util.ts
  website/docs/concepts/event-bridge/event-bus.md
  website/docs/concepts/event-bridge/event-sources.md
  website/docs/concepts/event-bridge/index.md
  website/docs/concepts/event-bridge/integrations.md
  website/docs/concepts/event-bridge/limitations.md
  website/docs/concepts/event-bridge/rule.md
  website/docs/concepts/event-bridge/syntax.md
  website/docs/concepts/event-bridge/transform.md
  website/docs/concepts/step-function/event-sources.md
Labels: event-bridge

#190 feat: add an error code for when a FunctionDecl was not compiled
  src/appsync.ts
  src/declaration.ts
  src/error-code.ts
  src/event-bridge/target-input.ts
  src/step-function.ts
  website/docs/error-codes.md
Labels: compile

#196 feat: sign-in page, icons, and styling
  .projenrc.js
  website/blog/2022-04-04-welcome.md
  website/blog/authors.yml
  website/docs/what-is-functionless.md
  website/docusaurus.config.js
  website/package.json
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/highlighter.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/sign-up.tsx
  website/static/img/Logo-dark.svg
  website/static/img/Logo-fav.svg
  website/static/img/Logo-large.svg
  website/static/img/Logo.svg
  website/static/img/favicon.ico
  website/static/img/logo-white.png
  website/static/img/logo.png
  website/static/img/logo.svg
  website/yarn.lock
Labels: documentation, website

#179 feat(lambda,event-bridge): lambda event sources
  .eslintrc.json
  .projen/deps.json
  .projenrc.js
  package.json
  src/event-bridge/event-bus.ts
  src/event-bridge/index.ts
  src/event-bridge/rule.ts
  src/event-bridge/transform.ts
  src/function.ts
  src/step-function.ts
  src/table.ts
  test-app/package.json
  test-app/src/app.ts
  test-app/src/message-board.ts
  test-app/src/people-events.ts
  test-app/yarn.lock
  test/function.localstack.test.ts
  test/function.test.ts
  website/docs/concepts/event-bridge/event-sources.md
  website/docs/concepts/function/_category_.yml
  website/docs/concepts/function/event-sources.md
  website/docs/concepts/function/index.md
  website/docs/concepts/step-function/event-sources.md
  website/docs/concepts/step-function/usage.md
  website/docs/concepts/supported-integrations.md
  website/docs/concepts/table.md
  website/docs/error-codes.md
  website/yarn.lock
  yarn.lock
Labels: event-bridge, lambda

#224 chore: discord and github icons
  README.md
  website/docusaurus.config.js
  website/src/css/custom.css
  website/static/img/Discord-Logo-Color.svg
Labels: website

#256 chore: add descrption to package.json
  .projenrc.js
  package.json
Labels: documentation

#255 fix: add _brand to ITable and BaseTable to fix type inference of$ AWS.DynamoDB.Table
  src/table.ts
  test/table.test.ts
Labels: dynamo

#203 feat(api-gateway): implement Mock, AWS and Proxy integrations for API Gateway
  .projen/deps.json
  .projen/tasks.json
  .projenrc.js
  .vscode/launch.json
  .vscode/settings.json
  package.json
  scripts/compile-test-app.js
  src/api.ts
  src/appsync.ts
  src/asl.ts
  src/aws.ts
  src/checker.ts
  src/compile.ts
  src/declaration.ts
  src/error-code.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/function.ts
  src/index.ts
  src/integration.ts
  src/statement.ts
  src/step-function.ts
  src/table.ts
  src/util.ts
  src/validate.ts
  src/vtl.ts
  test-app/cdk.json
  test-app/src/api-test.ts
  test-app/yarn.lock
  test/__snapshots__/api.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/__snapshots__/vtl.test.ts.snap
  test/api.localstack.test.ts
  test/api.test.ts
  test/localstack.ts
  test/test-files/api-gateway.ts
  test/tsconfig.json
  test/validate.test.ts
  yarn.lock
Labels: api-gateway

#270 fix: fix sort field type in dynamo table
  src/table.ts
  test/__snapshots__/table.test.ts.snap
  test/table.test.ts
Labels: dynamo

#286 chore(docs): remove h3s for the workaround docs
  src/error-code.ts
Labels: documentation

#275 feat(appsync): remove addResolver from AppsyncResolver and lazy template evaluation
  .projen/tasks.json
  .projenrc.js
  src/appsync.ts
  src/checker.ts
  src/compile.ts
  src/util.ts
  src/validate.ts
  test-app/cdk.json
  test-app/message-board.gql
  test-app/src/app.ts
  test-app/src/message-board.ts
  test-app/src/people-db.ts
  test-app/src/people-events.ts
  test/__snapshots__/validate.test.ts.snap
  test/__snapshots__/vtl.test.ts.snap
  test/appsync.test.ts
  test/test-files/appsync.ts
  test/util.ts
  test/validate.test.ts
  website/docs/concepts/appsync/code-generation.md
  website/docs/concepts/appsync/supported-integrations.md
  website/docs/concepts/appsync/usage.md
Labels: appsync

#287 feat(appsync, table): move appsync-specific methods on Table to a nested appsync property
  src/table.ts
  test-app/src/message-board.ts
  test-app/src/people-db.ts
  test/table.test.ts
  website/docs/concepts/appsync/code-generation.md
  website/docs/concepts/appsync/index.md
  website/docs/concepts/appsync/supported-integrations.md
  website/docs/concepts/appsync/usage.md
  website/docs/concepts/table.md
Labels: appsync

#273 feat: native functions bundle imports
  .projen/deps.json
  .projenrc.js
  package.json
  src/api.ts
  src/appsync.ts
  src/asl.ts
  src/assert.ts
  src/async-synth.ts
  src/aws.ts
  src/checker.ts
  src/compile.ts
  src/declaration.ts
  src/error-code.ts
  src/error.ts
  src/event-bridge/event-bus.ts
  src/event-bridge/event-pattern/index.ts
  src/event-bridge/event-pattern/numeric.ts
  src/event-bridge/event-pattern/pattern.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/index.ts
  src/event-bridge/rule.ts
  src/event-bridge/target-input.ts
  src/event-bridge/transform.ts
  src/event-bridge/types.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/format-error.ts
  src/function-prewarm.ts
  src/function.ts
  src/index.ts
  src/integration.ts
  src/literal.ts
  src/node.ts
  src/reflect.ts
  src/statement.ts
  src/step-function.ts
  src/table.ts
  src/tsc.ts
  src/util.ts
  src/validate.ts
  src/visit.ts
  src/vtl.ts
  test-app/package.json
  test-app/yarn.lock
  test/__snapshots__/serialize.test.ts.snap
  test/function.localstack.test.ts
  test/serialize.test.ts
  test/tsconfig.json
  tsconfig.dev.json
  yarn.lock
Labels: lambda

#299 fix(appsync): various appsync and related bugs
  src/appsync.ts
  src/asl.ts
  src/checker.ts
  src/compile.ts
  src/declaration.ts
  src/error-code.ts
  src/event-bridge/event-pattern/synth.ts
  src/event-bridge/target-input.ts
  src/event-bridge/utils.ts
  src/expression.ts
  src/guards.ts
  src/node.ts
  src/statement.ts
  src/validate.ts
  src/visit.ts
  src/vtl.ts
  test/__snapshots__/api.test.ts.snap
  test/__snapshots__/validate.test.ts.snap
  test/__snapshots__/vtl.test.ts.snap
  test/appsync.test.ts
  test/test-files/appsync.ts
  test/util.ts
  test/vtl.test.ts
Labels: appsync, compile

#316 feat(step-functions): move input to dynamic context
  src/asl.ts
  src/aws.ts
  src/event-bridge/event-bus.ts
  src/function.ts
  src/step-function.ts
  test/__snapshots__/step-function.localstack.test.ts.snap
  test/__snapshots__/step-function.test.ts.snap
  test/step-function.localstack.test.ts
  test/step-function.test.ts
Labels: step-functions
